#footer {
    color: #343635;
    background: #fff;
    padding: 160px 0 200px 200px;
    position: relative;
    z-index: 20;

}

#footer .title {
    font-size: 68px;
    font-weight: bolder;
}

#footer .title span {
    font-size: 80px;
    padding-top: 18px;
    display: block;
    text-decoration: underline;
}

#footer .description {
    font-size: 20px;
    padding-top: 190px;
    white-space: pre;
}


@media screen and (max-width: 640px) {
    #footer {
        padding: 80px 20px 278px 20px;
    }

    #footer .title {
        font-size: 32px;
    }

    #footer .title span {
        font-size: 38px;
        padding-top: 16px;
    }

    #footer .description {
        padding-top: 91px;
        white-space: break-spaces;
        font-size: 16px;
        line-height: 30px;
    }
}